{% extends 'base.html.twig' %}
{% block title %}Documents{% endblock %}

{% block body %}
    <section class="bg-primary text-white" id="Documents" style="padding-top: 110px;">
        <div class="container text-center">
            <h2 class="section-heading">Documents utiles et livres</h2>
            <div class="row text-left">
                <p>Taichi chuan ou Taiji quan : Pour le profane, ce mot évoque à la fois une danse lente et un combat au ralenti. Le pratiquant y découvre au fur et à mesure différents niveaux qui relient corps et esprit, intention et réalisation… Le taichi chuan, pour améliorer la vitalité, se doit de rester essentiellement un art martial Interne : la plus grande efficacité vient alors de la plus grande lenteur, de la souplesse et de la patience, d’une certaine subtilité, précise, surprenante… Cet art du mouvement et de l’énergie, basé sur l’alternance et la complémentarité Yin-Yang, Ciel et terre, etc… remonte à la nuit des temps.
                    <br><br>
                    Il est l’art d’agir par le non-agir, même dans les mouvements à deux ( "tuishou","taolu","tuilien" ) les enchaînements rapides ou les armes. Il est un jeu complexe et profond. Un sport, (ou "jeu avec règles" d’après le dictionnaire), plein d’esprit, que l’on peut longuement apprivoiser. Chinois et anglo-saxons disent d’ailleurs "jouer du taichi chuan".
                    <br><br>
                    Nos expressions populaires conviennent dès le premier abord à cette pratique :"Avoir les reins solides", ne pas être"à coté de ses pompes", mais bien dedans, "ne pas perdre le Nord". Lorsque le pratiquant retrouve son centre, disent les Chinois, lorsque "le TAO agit par lui", il devient un "pilier entre ciel et terre" et participe consciemment aux "10 000 Transformations". La conscience et l’intelligence sont déterminants.</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="./public/docs/Auto-Questionnaire-Sante-FAEMC.pdf" target="_blank"><img src="{{ asset('img/auto_questionnaire_FAEMC.PNG') }}" alt="auto_questionnaire_FAEMC"></a><br>
                    <a href="./public/docs/Auto-Questionnaire-Sante-FAEMC.pdf" target="_blank">auto questionnaire FAEMC</a>
                </div>
                <div class="col-md-3">
                    <a href="./public/docs/Demande-Licence-FAEMC.pdf" target="_blank"><img src="{{ asset('img/demande_licence_FAEMC.PNG') }}" alt="demande_licence_FAEMC"></a><br>
                    <a href="./public/docs/Demande-Licence-FAEMC.pdf" target="_blank">demande licence FAEMC</a>
                </div>
                <div class="col-md-3">
                    <a href="./public/docs/articles_de_loi_port_d_arme.pdf" target="_blank"><img src="{{ asset('img/articles_loi.PNG') }}" alt="articles_loi"></a><br>
                    <a href="./public/docs/articles_de_loi_port_d_arme.pdf" target="_blank">Articles de loi sur le port d'armes, FAEMC</a>
                </div>
                <div class="col-md-3">
                    <a href="./public/docs/dragon.pdf" target="_blank"><img src="{{ asset('img/dragon.JPG') }}" alt="dragon"></a><br>
                    <a href="./public/docs/dragon.pdf" target="_blank">Le Dragon</a>
                </div>
            </div>
            <h3>Livres en possession d'Yvane ou d'élèves</h3>
            <p>Commentaires d'Yvane ou d'élèves</p>
            <br><br>
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/TAIJI QUAN, art martial, technique de longue vie.jpg" target="_blank"><img src="{{ asset('img/TAIJI QUAN, art martial, technique de longue vie.jpg') }}" alt="TAIJI QUAN, art martial, technique de longue vie"></a>
                    <br><b>TAIJI QUAN, art martial, technique de longue vie</b>
                    <i>Catherine DESPEUX</i>
                    <p>Guy Trédaniel</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/TAIJI QUAN, l'enseignement de Li Guanghua, la tradition de l'école YANG.jpg" target="_blank"><img src="./public/img/TAIJI QUAN, l'enseignement de Li Guanghua, la tradition de l'école YANG.jpg" alt="TAIJI QUAN, l'enseignement de Li Guanghua, la tradition de l'école YANG"></a>
                    <br><b>TAIJI QUAN, l'enseignement de Li Guanghua, la tradition de l'école YANG</b>
                    <br><i>Jean GORTAIS</i>
                    <br><p>Le Courrier du Livre</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/TAIJI QUAN pratique, Styles Yang et Tui shou.jpg" target="_blank"><img src="{{ asset('img/TAIJI QUAN pratique, Styles Yang et Tui shou.jpg') }}" alt="TAIJI QUAN pratique, Styles Yang et Tui shou"></a>
                    <br><b>TAIJI QUAN pratique, Styles Yang et Tui shou</b>
                    <br><i>Roland HABERSETZER</i>
                    <br><p>Amphora</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/TAICHI-CHUAN Supérieur, le Style YANG, Enseignement approfondi de la forme classique.jpg" target="_blank"><img src="{{ asset('img/TAICHI-CHUAN Supérieur, le Style YANG, Enseignement approfondi de la forme classique.jpg') }}" alt="TAICHI-CHUAN Supérieur, le Style YANG, Enseignement approfondi de la forme classique"></a>
                    <br><b>TAICHI-CHUAN SUPERIEUR, le Style YANG, Enseignement approfondi de la forme classique</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Tai chi chuan supérieur, Energie Martiale.jpg" target="_blank"><img src="{{ asset('img/Tai chi chuan supérieur, Energie Martiale.jpg') }}" alt="Tai chi chuan supérieur, Energie Martiale"></a>
                    <br><b>TAICHI-CHUAN SUPERIEUR, Energie Martiale</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/TAICHI-CHUAN SUPERIEUR, Applications Martiales dans le style Yang classique.jpg" target="_blank"><img src="{{ asset('img/TAICHI-CHUAN SUPERIEUR, Applications Martiales dans le style Yang classique.jpg') }}" alt="TAICHI-CHUAN SUPERIEUR, Applications Martiales dans le style Yang classique"></a>
                    <br><b>TAICHI-CHUAN SUPERIEUR, Applications Martiales dans le style Yang classique</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Les secrets du style Yang de tai chi chuan.jpg" target="_blank"><img src="{{ asset('img/Les secrets du style Yang de tai chi chuan.jpg') }}" alt="Les secrets du style Yang de tai chi chuan"></a>
                    <br><b>Les secrets du style Yang de TAICHI-CHUAN</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Les secrets du style WU de tai chi chuan.jpg" target="_blank"><img src="{{ asset('img/Les secrets du style WU de tai chi chuan.jpg') }}" alt="Les secrets du style WU de tai chi chuan"></a>
                    <br><b>Les secrets du style WU de TAICHI-CHUAN</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Les secrets du style LI et Wû(HAO) de tai chi chuan.jpg" target="_blank"><img src="{{ asset('img/Les secrets du style LI et Wû(HAO) de tai chi chuan.jpg') }}" alt="Les secrets du style LI et Wû(HAO) de tai chi chuan"></a>
                    <br><b>Les secrets du style LI et Wû(HAO) de TAICHI-CHUAN</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Les secrets des anciens maîtres de Tai Chi.jpg" target="_blank"><img src="{{ asset('img/Les secrets des anciens maîtres de Tai Chi.jpg') }}" alt="Les secrets des anciens maîtres de Tai Chi"></a>
                    <br><b>Les secrets des anciens maîtres de Taichi</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/101 reflexions sur le Taichi-chuan.jpg" target="_blank"><img src="{{ asset('img/101 reflexions sur le Taichi-chuan.jpg') }}" alt="101 reflexions sur le Taichi-chuan"></a>
                    <br><b>101 reflexions sur le Taichi-chuan</b>
                    <br><i>Michael Gilman</i>
                    <br><p>Budo</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>

                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/CHIN-NA du TAI CHI, L'art du contrôle articulaire.jpg" target="_blank"><img src="./public/img/CHIN-NA du TAI CHI, L'art du contrôle articulaire.jpg" alt="CHIN-NA du TAI CHI, L'art du contrôle articulaire"></a>
                    <br><b>TAICHI-CHUAN SUPERIEUR, CHIN-NA du TAICHI, L'art du contrôle articulaire</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/La Théorie du Tai Chi.jpg" target="_blank"><img src="{{ asset('img/La Théorie du Tai Chi.jpg') }}" alt="La Théorie du Tai Chi"></a>
                    <br><b>TAICHI-CHUAN SUPERIEUR, La Théorie du TaiChi</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/LE TAI CHI CHUAN, Secret de l'Energie Vitale.jpg" target="_blank"><img src="./public/img/LE TAI CHI CHUAN, Secret de l'Energie Vitale.jpg" alt="LE TAI CHI CHUAN, Secret de l'Energie Vitale"></a>
                    <br><b>LE TAICHI-CHUAN, Secret de l'Energie Vitale</b>
                    <br><i>CHANG DSU YAO, R.FASSI</i>
                    <br><p>De VECCHI</p>
                    <br><p><i>" Explications claires sur l'energie et le corps humain "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/LE grand livre du tai chi chuan.jpg" target="_blank"><img src="{{ asset('img/LE grand livre du tai chi chuan.jpg') }}" alt="LE grand livre du tai chi chuan"></a>
                    <br><b>LE grand livre du TAICHI-CHUAN</b>
                    <br><i>CHANG DSU YAO, R.FASSI</i>
                    <br><p>De VECCHI</p>
                    <br><p><i>" Explications claires, richement illustré "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Cours de Tai Chi Chuan.jpg" target="_blank"><img src="{{ asset('img/Cours de Tai Chi Chuan.jpg') }}" alt="Cours de Tai Chi Chuan"></a>
                    <br><b>Cours de TAICHI-CHUAN</b>
                    <br><i>CHANG DSU YAO, R.FASSI</i>
                    <br><p>De VECCHI</p>
                    <br><p><i>" Explications claires, richement illustré "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Prof CHEN MAN-CH'ING, Un grand maître de tai chi parle.jpg" target="_blank"><img src="./public/img/Prof CHEN MAN-CH'ING, Un grand maître de tai chi parle.jpg" alt="Prof CHEN MAN-CH'ING, Un grand maître de tai chi parle"></a>
                    <br><b>CHEN MAN-CH'ING, Un grand maître de taichi parle</b>
                    <br><i>Wolfe Lowenthal</i>
                    <br><p>Le Courrier du Livre</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/CHENG MAN-CH'ING, Nouvelle méthode d'apprentissage personnel.jpg" target="_blank"><img src="./public/img/CHENG MAN-CH'ING, Nouvelle méthode d'apprentissage personnel.jpg" alt="CHENG MAN-CH'ING, Nouvelle méthode d'apprentissage personnel"></a>
                    <br><b>CHENG MAN-CH'ING, Nouvelle méthode d'apprentissage personnel</b>
                    <br><i>Cheng Man-Chi'ng</i>
                    <br><p>Le Courrier du Livre</p>
                    <br><p><i>" Style Yang "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Les treize traités de maître CHENG sur le taichi chuan.jpg" target="_blank"><img src="{{ asset('img/Les treize traités de maître CHENG sur le taichi chuan.jpg') }}" alt="Les treize traités de maître CHENG sur le taichi chuan"></a>
                    <br><b>Les treize traités de maître CHENG sur le taichi-chuan</b>
                    <br><i>Cheng Man-Chi'ng</i>
                    <br><p>Le Courrier du Livre</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Questions et réponses sur le tai chi chuan.jpg" target="_blank"><img src="{{ asset('img/Questions et réponses sur le tai chi chuan.jpg') }}" alt="Questions et réponses sur le tai chi chuan"></a>
                    <br><b>Questions et réponses sur le TAICHI-CHUAN</b>
                    <br><i>CHEN Weiming</i>
                    <br><p>Le Courrier du Livre</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Maitriser le style Yang de taiji quan.jpg" target="_blank"><img src="{{ asset('img/Maitriser le style Yang de taiji quan.jpg') }}" alt="Maitriser le style Yang de taiji quan"></a>
                    <br><b>Maitriser le style Yang de taiji quan</b>
                    <br><i>FU Zhongwen</i>
                    <br><p>Le Courrier du Livre</p>
                    <br><p><i>" Uniquement la forme et dans les détails. Dessins à partir de photos de Yang Cheng Fu "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Les trois classiques du taichi chuan.jpg" target="_blank"><img src="{{ asset('img/Les trois classiques du taichi chuan.jpg') }}" alt="Les trois classiques du taichi chuan"></a>
                    <br><b>Les trois classiques du taichi-chuan</b>
                    <br><i>Waysun Liao</i>
                    <br><p>Le Courrier du Livre</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taiji sword and other writings.jpg" target="_blank"><img src="{{ asset('img/Taiji sword and other writings.jpg') }}" alt="Taiji sword and other writings"></a>
                    <br><b>Taiji sword and other writings</b>
                    <br><i>CHEN Weiming</i>
                    <br><p>North Atlantic Books</p>
                    <br><p><i>" En anglais "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/The Essence and applications of taijiquan.jpg" target="_blank"><img src="{{ asset('img/The Essence and applications of taijiquan.jpg') }}" alt="The Essence and applications of taijiquan"></a>
                    <br><b>The Essence and applications of taijiquan</b>
                    <br><i>Yang Cheng Fu</i>
                    <br><p>Louis Swaim</p>
                    <br><p><i>" En anglais, pour retouner aux sources"</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Tai-chi Touchstones, Yang Family Secret Transmission.jpg" target="_blank"><img src="{{ asset('img/Tai-chi Touchstones, Yang Family Secret Transmission.jpg') }}" alt="Tai-chi Touchstones, Yang Family Secret Transmission"></a>
                    <br><b>Taichi Touchstones, Yang Family Secret Transmission</b>
                    <br><i>Douglas Wile</i>
                    <br><p>Sweet Chʻi Press</p>
                    <br><p><i>" En anglais, pour retouner aux sources"</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/A la source du taiji quan.jpg" target="_blank"><img src="{{ asset('img/A la source du taiji quan.jpg') }}" alt="A la source du taiji quan"></a>
                    <br><b>A la source du taiji quan</b>
                    <br><i>Wang Xian, Alain caudine</i>
                    <br><p>Guy Trédaniel</p>
                    <br><p><i>" Comparaison entre les 2 enchainements CHEN et YANG "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Applications Martiales du Taiji quan, Transmission  de l'école CHEN.jpg" target="_blank"><img src="./public/img/Applications Martiales du Taiji quan, Transmission  de l'école CHEN.jpg" alt="Applications Martiales du Taiji quan, Transmission  de l'école CHEN"></a>
                    <br><b>Applications Martiales du Taiji quan, Transmission  de l'école CHEN</b>
                    <br><i>Wang Xian</i>
                    <br><p>Guy Trédaniel</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taiji quan style WU.jpg" target="_blank"><img src="{{ asset('img/Taiji quan style WU.jpg') }}" alt="Taiji quan style WU"></a>
                    <br><b>Taiji quan style WU</b>
                    <br><i>BEJA Vincent</i>
                    <br><p>Quimetao</p>
                    <br><p><i>" Interessant pour comparer avec le style TUNG "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/WU style taiji quan.jpg" target="_blank"><img src="{{ asset('img/WU style taiji quan.jpg') }}" alt="WU style taiji quan"></a>
                    <br><b>WU style taiji quan</b>
                    <br><i>Wang Peisheng et Zeng Weiqi</i>
                    <br><p>China Books and Periodicals</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taichi chuan for health and Self Defense.jpg" target="_blank"><img src="{{ asset('img/Taichi chuan for health and Self Defense.jpg') }}" alt="Taichi chuan for health and Self Defense"></a>
                    <br><b>Taichi-chuan for health and Self Defense</b>
                    <br><i>Master T.T Liang</i>
                    <br><p>Vintage Books</p>
                    <br><p><i>" En anglais "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Steal My Art, The Life and Times of Tai Chi Master T.T Liang.jpg" target="_blank"><img src="{{ asset('img/Steal My Art, The Life and Times of Tai Chi Master T.T Liang.jpg') }}" alt="Steal My Art, The Life and Times of Tai Chi Master T.T Liang"></a>
                    <br><b>Steal My Art, The Life and Times of Taichi Master T.T Liang</b>
                    <br><i>Master T.T Liang</i>
                    <br><p>North Atlantic Books</p>
                    <br><p><i>"En anglais, Parcours et vie d'un maitre de taichi "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taijiquan, Mythes et réalités.jpg" target="_blank"><img src="{{ asset('img/Taijiquan, Mythes et réalités.jpg') }}" alt="Taijiquan, Mythes et réalités"></a>
                    <br><b>Taijiquan, Mythes et réalités</b>
                    <br><i>CAULIER Eric</i>
                    <br><p>DERVY</p>
                    <br><p><i>" Lecture difficile "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taichi Chuan, Origines et puissance d'un art martial.jpg" target="_blank"><img src="./public/img/Taichi Chuan, Origines et puissance d'un art martial.jpg" alt="Taichi Chuan, Origines et puissance d'un art martial"></a>
                    <br><b>Taichi-Chuan, Origines et puissance d'un art martial</b>
                    <br><i>Kenji Tokitsu</i>
                    <br><p>Desiris</p>
                    <br><p><i>" Quand un maitre de Karaté explore le tai chi chuan. Le mouvement lent pourquoi ? "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taiji quan, Alchimie et armes traditionnelles.jpg" target="_blank"><img src="{{ asset('img/Taiji quan, Alchimie et armes traditionnelles.jpg') }}" alt="Taiji quan, Alchimie et armes traditionnelles"></a>
                    <br><b>Taiji quan, Alchimie et armes traditionnelles</b>
                    <br><i>SABY Georges</i>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taiji Quan, Ecologie sociale et individuelle.jpg" target="_blank"><img src="{{ asset('img/Taiji Quan, Ecologie sociale et individuelle.jpg') }}" alt=""></a>
                    <br><b>Taiji Quan, Ecologie sociale et individuelle</b>
                    <br><i>SABY Georges</i>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taiji Quan, Historique et tradition explosive.jpg" target="_blank"><img src="{{ asset('img/Taiji Quan, Historique et tradition explosive.jpg') }}" alt="Taiji Quan, Historique et tradition explosive"></a>
                    <br><b>Taiji Quan, Historique et tradition explosive</b>
                    <br><i>SABY Georges</i>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taiji Quan, Sur les traces de Yang Luchan.jpg" target="_blank"><img src="{{ asset('img/Taiji Quan, Sur les traces de Yang Luchan.jpg') }}" alt="Taiji Quan, Sur les traces de Yang Luchan"></a>
                    <br><b>Taiji Quan, Sur les traces de Yang Luchan</b>
                    <br><i>SABY Georges</i>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taiji Quan, Relaxation et habilté martiale.jpg" target="_blank"><img src="{{ asset('img/Taiji Quan, Relaxation et habilté martiale.jpg') }}" alt="Taiji Quan, Relaxation et habilté martiale"></a>
                    <br><b>Taiji Quan, Relaxation et habilté martiale</b>
                    <br><i>SABY Georges</i>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Le taiji Quan des origines, L'enseignement de maître Wang Bo.jpg" target="_blank"><img src="./public/img/Le taiji Quan des origines, L'enseignement de maître Wang Bo.jpg" alt="Le taiji Quan des origines, L'enseignement de maître Wang Bo"></a>
                    <br><b>Le taiji Quan des origines, L'enseignement de maître Wang Bo</b>
                    <br><i>Carmona José</i>
                    <br><p>Guy Trédaniel</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/La transmission du taiji quan, De l'art traditionel aux pratiques modernes.jpg" target="_blank"><img src="./public/img/La transmission du taiji quan, De l'art traditionel aux pratiques modernes.jpg" alt="La transmission du taiji quan, De l'art traditionel aux pratiques modernes"></a>
                    <br><b>La transmission du taiji quan, De l'art traditionel aux pratiques modernes</b>
                    <br><i>Carmona José</i>
                    <br><p>VEGA</p>
                    <br><p><i>" José Carmona démystifie le Tai Chi Chuan "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Taiji quan, Itinéraire d'un défi.jpg" target="_blank"><img src="./public/img/Taiji quan, Itinéraire d'un défi.jpg" alt="Taiji quan, Itinéraire d'un défi"></a>
                    <br><b>Taiji quan, Itinéraire d'un défi</b>
                    <br><i>Alain Caudine</i>
                    <br><p>Guy Trédaniel</p>
                    <br><p><i>" Alain Caudine raconte sa rencontre avec le style Chen et maitre Wang Xian "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/L' Epée du Tai chi.jpg" target="_blank"><img src="./public/img/L' Epée du Tai chi.jpg" alt="L' Epée du Tai chi"></a>
                    <br><b>L' Epée du Taichi</b>
                    <br><i>Yang Jwing-Ming</i>
                    <br><p>Budo</p>
                    <br><p><i>" Sur l'épée chinoise en général, l'enchainement décrit n'aide pas pour le TUNG "</i></p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/I-Chuan les bases scientifiques, la posture de l'arbre Zhan Zhuang.jpg" target="_blank"><img src="./public/img/I-Chuan les bases scientifiques, la posture de l'arbre Zhan Zhuang.jpg" alt="I-Chuan les bases scientifiques, la posture de l'arbre Zhan Zhuang"></a>
                    <br><b>I-Chuan: les bases scientifiques, la posture de l'arbre Zhan Zhuang</b>
                    <br><i>Yongnian Yu</i>
                    <br><p>L'Originel</p>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="./public/img/Les 108 clés du taichi Une parure de perles.jpg" target="_blank"><img src="{{ asset('img/Les 108 clés du taichi Une parure de perles.jpg') }}" alt="Les 108 clés du taichi Une parure de perles"></a>
                    <br><b>Les 108 clés du taichi. Une parure de perles</b>
                    <br><i>Michael Gilman</i>
                    <br><p>Budo</p>
                    <br><p><i>" Texte uniquement "</i></p>
                </div>
                <div class="col-lg-12">
                    <a class="btn btn-primary" href="http://toum.asso.fr/livres/" target="_blank" role="button"><p>livres intéressants<br>depuis le site de l'association &raquo;</p></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


