{% extends 'base.html.twig' %}

{% block title %}Slot{% endblock %}

{% block body %}
    <h1>Slot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slot.id }}</td>
            </tr>
            <tr>
                <th>DayId</th>
                <td>{{ slot.dayId }}</td>
            </tr>
            <tr>
                <th>StartAt</th>
                <td>{{ slot.startAt ? slot.startAt|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ slot.endAt ? slot.endAt|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ slot.level }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('slot_index') }}">back to list</a>

    <a href="{{ path('slot_edit', {'id': slot.id}) }}">edit</a>

    {{ include('slot/_delete_form.html.twig') }}
{% endblock %}
